{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@types/(.*)$",
    "^@config/(.*)$",
    "^@interfaces",
    "^@interfaces/(.*)$",
    "^@services/(.*)$",
    "^@utils",
    "^@utils/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
